<ion-view title="About" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="about-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Created by some cyka</p>
    </div>
    <a href="tel:07984310138" id="about-button2" class="button button-positive button-block">Call me</a>
    <a href="mailto:feu028665@gmail.com" id="about-button3" class="button button-positive button-block">Email me</a>
  </ion-content>
</ion-view>