<ion-view title="Actual Music Channels" id="page18">
  <ion-content padding="true" class="has-header">
    <ion-list id="actualMusicChannels-list16">
      <ion-item id="actualMusicChannels-list-item52" ui-sref="tabsController.hyperPotions()">Hyper Potions</ion-item>
      <ion-item id="actualMusicChannels-list-item62">Pegboard Nerds</ion-item>
      <ion-item id="actualMusicChannels-list-item63">Snail's House</ion-item>
      <ion-item id="actualMusicChannels-list-item74" ui-sref="tabsController.wintergatan()">Wintergatan</ion-item>
    </ion-list>
  </ion-content>
</ion-view>