<ion-view title="Hardbass" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/QnB9_0ZgPxE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="hardbass-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div ng-init="videourl_video9=&quot;https://www.youtube.com/embed/QIjKijhv1OU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="hardbass-video9">
      <iframe src="{{videourl_video9}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div ng-init="videourl_video10=&quot;https://www.youtube.com/embed/qQvwxmsRM64?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="hardbass-video10">
      <iframe src="{{videourl_video10}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>