<ion-view title="Hyper potions" id="page24">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video24=&quot;https://www.youtube.com/embed/yq9HF7D9MRY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="hyperPotions-video24">
      <iframe src="{{videourl_video24}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="hyperPotions-list21">
      <ion-item class="item-avatar" id="hyperPotions-list-item76" href-inappbrowser="https://www.youtube.com/channel/UCbczsMZXABNe7o1oUrMAxVw">
        <img src="img/czcPmIJRSOXtSXi7QcDB_hyper_potions.jpg">
        <h2>Hyper potions</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>