<ion-view title="Initial D" id="page10">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video21=&quot;https://www.youtube.com/embed/atuFSv2bLa8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="initialD-video21">
      <iframe src="{{videourl_video21}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/Jgiopr0EpoI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="initialD-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div ng-init="videourl_video22=&quot;https://www.youtube.com/embed/kEOuVGjHP-4?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="initialD-video22">
      <iframe src="{{videourl_video22}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>