<ion-view title="Meme music" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="memeMusic-list14">
      <ion-item class="item-avatar" id="memeMusic-list-item49" ui-sref="tabsController.7thElement()">
        <img src="img/6pvERI4iQmxUNveYvrAg_7th_element.jpg">
        <h2>7th element</h2>
      </ion-item>
      <ion-item class="item-avatar" id="memeMusic-list-item61" href-inappbrowser="https://www.youtube.com/user/billwurtz">
        <img src="img/AXWqdKufQQifPTwoCJ67_bill_wutrz.jpg">
        <h2>Bill Wurtz</h2>
      </ion-item>
      <ion-item class="item-avatar" id="memeMusic-list-item64" ui-sref="tabsController.darudeSandstorm()">
        <img src="img/Lf1a89BzT6anwICwv2aX_darude.jpg">
        <h2>Darude sandstorm</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>