<ion-view title="Meme" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="meme-list10">
      <ion-item id="meme-list-item24" ui-sref="tabsController.russia()">Russia</ion-item>
      <ion-item id="meme-list-item25" ui-sref="tabsController.japan()">Japan</ion-item>
      <ion-item id="meme-list-item26" ui-sref="tabsController.america()">America</ion-item>
      <ion-item id="meme-list-item27" ui-sref="tabsController.chineseMemes()">Chinese Memes</ion-item>
      <ion-item id="meme-list-item60" ui-sref="tabsController.gaming()">Gaming</ion-item>
    </ion-list>
  </ion-content>
</ion-view>