<ion-view title="中国梗" id="page22">
  <ion-content padding="true" style="background: url(img/rWyrHrqGRZiKrBv29OZ6_E4BDA0E79E85E595A5.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page22-list17">
      <ion-item id="page22-list-item71" ui-sref="tabsController.8848()">8848</ion-item>
      <ion-item id="page22-list-item72" ui-sref="tabsController.page25()">贪玩蓝月</ion-item>
      <ion-item id="page22-list-item73">鬼畜</ion-item>
    </ion-list>
  </ion-content>
</ion-view>